body, html {
  font-family: 'Montserrat', sans-serif;
  height:100%;

  .signup-body,
  .login-body{
    height:100%; 
    margin:auto;
    padding-bottom: 450px;
  }

  @media (max-width: 800px){
    .login-body,
    .signup-body{
      width: 100%;
      margin:0 auto;
    }
  }
  
  .form-content{
    width:400px;
    height:auto;
    text-align:center;
    margin:0 auto;
    padding-top:135px;
    
  }
  
  .page-info{
    width:340px;
    margin: 0 auto;
    padding-top:55px;
  }
  
  .page-info p{
    color:gray;
    text-align: center;
  }
  
  .page-info a,
  .form-reminder a{
    color:#fff;
    text-decoration: none;
  }
  
  .page-info a:hover,
  .form-reminder a:hover{
    color:rgb(14, 144, 206);
    text-decoration: none;
  }
  
  .form-reminder{
    color:gray;
    display: flex;
    justify-content: space-between;
    width:330px;
    margin:0 auto;
    margin-top:15px;
  }
  
  input[type="text"],input[type="password"]{
    height:45px;
    width:300px;
    font-size:14px;
    margin:4px 0px 4px 0px;
    padding-left:40px;
  }
  
  .submit-btn{
    height:45px;
    width:340px;
    cursor:pointer;
    color:#fff;
    margin-top: 6px;
    text-transform: uppercase;
    border-radius:5px;
    border:none;
    background-color:rgb(14, 144, 206);
  }
  
  .submit-btn:hover{
    background-color:rgba(14, 144, 206, 0.7);
  }

  table {
    width: 90%;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

  td, span {
    padding-right: 10px;
  }


}